* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: url(../img/decor.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  background-color:rgba(255,255,255,0.75);
  padding: 0.5em;

  margin: 2% auto;
  box-shadow: -1px 1px 4px #a9a9a9;
  border-radius: .25em;
}

h3 {
  margin-bottom: .5rem;
}

p {
  margin-bottom: .25em;
}

dt {
  margin-bottom: 5px;
}

dd {
  font-size: .85rem;
  margin-bottom: 15px;
}

.avail {

}

.range {
  display: inline;
}

.unit-container {
  background-color:rgba(255,255,255,0.75);
  padding: 0.5em;
  margin: 5em auto;
  box-shadow: -1px 1px 4px #a9a9a9;
  border-radius: .25em;
}

@media only screen and (min-width: 15em) {
  .unit-container {

  }
}

img {
  width: 100%;
  display: inline;
  z-index: 0;
  float: left;
}

label {
  display: block;
  cursor: pointer;
}

input {
  font-size: 1rem;
}

input + label {
  display: inline;
  margin-bottom: 5px;
}

.input-text {
  font-size: 1rem;
  border: 1px solid #ccc;
  background-image: linear-gradient(to bottom #ccc, #fff);
  margin-bottom: .5em;
  padding: 0.5em;
  width: 100%;
}

textarea {
  max-width: 100%;
  height: 8em;
}

fieldset {
  border: 0;
}

th {
  padding: 0 5px;
}

td {
  padding: 10px 5px;
  text-align: center;
}

.date {
  text-align: left;
}

button {
  font-size: 1.125rem;
  padding: .5em;
  border-radius: 5px;
  background-image: linear-gradient(to bottom #8d1020, #fff);
  color: #8d1020;
  font-weight: bold;
  cursor: pointer;
}

.error {
  display: block;
  color: #f33;
}

.input-error {
  border: 2px solid red;
}
